#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokemon-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 1050px;
}

li{
    list-style: none;
}